* {
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px;
}

.temp-gauge {
  font-size: 65px;
  margin: auto 85px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsl(215, 78%, 47%)),
    to(hsl(0, 79%, 55%))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.temp-gauge:last-child {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsl(0, 79%, 55%)),
    to(hsl(215, 78%, 47%))
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-bar-div {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin: auto 50px;
}

.search-bar {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
}

.btn {
  background-color: hsl(0, 0%, 100%);
  width: 20%;
  justify-self: center;
}

.current {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 250px;
  overflow: hidden;
  padding: 0 auto 10px;
}

.hidden {
  display: none;
}

.current-weather-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  border-radius: 10px;
  width: 500px;
  background-color: rgba(0, 0, 0, .15);
}

.left {
  display: flex;
  flex-wrap: wrap;
}

.temp {
  width: 100%;
  font-size: 4em;
  padding: 30px 0 0 30px;
}

.city-info {
  padding-left: 30px;
  line-height: 0.2;
}

.name {
  font-size: 2em;
  line-height: 0.8;
}

.description {
  margin-top: -15px;
}

.right {
  display: flex;
  flex-wrap: wrap;
}

.weather-icon {
  position: relative;
  top: 10px;
  left: 40px;
  width: 150px;
  margin: 0 -10px;
}

.details {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 15px 20px;
  line-height: 1.3;
}

.label {
  font-weight: bolder;
}

.detail {
  font-weight: bold;
  float: right;
}

.fahrenheit {
  font-size: 2rem;
  position: relative;
  top: -20px;
}

.five-day {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-right: 12.5px;
  gap: 2em;
  height: 200px;
  align-content: center;
}

.five-day-card {
  border: 1px solid black;
  height: 175px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  box-shadow: 0 0 10px hsl(0, 0%, 45%);
}

.day-of-week {
  font-size: 1.5em;
  position: relative;
  top: -10px;
  grid-column: span 2;
  text-align: center;
}

.five-icon {
  position: relative;
  top: -15px;
  left: 25px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
}

.high-low {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -10px;
}

.high-low-div {
  width: 100%;
  line-height: 1.2;
}

.five-label {
  display: block;
  text-align: center;
  font-weight: bold;
}

.five-detail {
  display: block;
  text-align: center;
  font-size: 1.5em;
}

@media all and (max-width: 500px) {
  .title {
    font-size: 2em;
    margin: 0;
  }
  .temp-gauge {
    margin: 0;
  }
  .btn {
    width: 50%;
  }
  .current-weather-card {
    width: 300px;
  }
  
  .temp {
    width: 100%;
    font-size: 3.5em;
    padding: 35px 0 0 35px;
  }
  
  .city-info {
    padding-left: 8px;
  }
  
  .weather-icon {
    left: 10px;
    width: 150px;
  }
  
  .details {
   margin-bottom: 0;
    line-height: 1;
  }

  .five-day {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 100px;
    margin-top: 150px;
  }
  
  .five-day-card {
    width: 100px;
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 160px;
  }

  .five-day-card:nth-child(4) {
    grid-column-end: 4;
  }
  
  .day-of-week {
    font-size: 1.3em;
  }
  
  .five-icon {
    position: relative;
    left: 0;
    top: -30px;
    width: 60px;
  }
  
  .high-low {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 15px;
    position: relative;
    top: -25px;
  }

  .high-low-div:nth-child(even) {
    grid-column: 1;
    grid-row: 1;
  }

}