body {
  width: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

.search-bar-div {
  display: flex;
}

.search-bar {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin: auto 200px;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 20px;
}

.temp-gauge {
  font-size: 65px;
  margin: auto 85px; 
  color: blue;
}

.temp-gauge:last-child {
color: red;
}

.current {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.current-weather-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}