body {
  width: 100%;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.search-bar-div {
  display: flex;
}

.search-bar {
  width: 100%;
  text-align: center;
  margin: auto 200px;
}